.button {
   -fx-background-color: #7a7a7a;
   -fx-background-radius: 10px;
   -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: #949494;
}

.button:pressed {
    -fx-background-color: #525252;
}